body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;
    padding: 0;
}

.auth-container, .dashboard {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.auth-container input,
.dashboard input,
.dashboard select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #15803d;
}

.cards {
    display: flex;
    gap: 10px;
}

.card {
    flex: 1;
    background: #e2ffe8;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}