/* GLOBAL DARK */
body {
  margin: 0;
  background: #0d0d0d;
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
}

/* HEADER */
header {
  background: #111;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #4db8ff;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
}

/* CONTAINER */
.container {
  width: 92%;
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
}

/* POST CARD */
.post {
  background: #1a1a1a;
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #222;
  transition: 0.2s;
}
.post:hover {
  transform: translateY(-3px);
}

/* TITLE */
.post h2 {
  color: #4db8ff;
  margin: 0;
}
.post h2 a { color: #4db8ff; text-decoration: none; }

/* META */
.meta {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 8px;
}

/* BUTTONS */
.btn {
  padding: 8px 14px;
  display: inline-block;
  background: #4db8ff;
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

/* IMAGE */
.post img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

/* COMMENTS */
.comment-box {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
}
.comment {
  padding: 8px 0;
  border-bottom: 1px solid #222;
}
.comment:last-child { border-bottom: none; }